﻿@model IEnumerable<taskmanager_with_asp.net.Models.Tasks>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Задачи</h1>
    <div class="TasksBlock">
        @foreach(var i in Model)
        {
            <div class="Task">
                <p class = "DescriptionNaim">Наименование</p>
                <p class = "Description" asp-for="NameTask">@i.NameTask</p>
                <p class = "DescriptionNaim">Описание</p>
                <p class = "Description">@i.GoalTasks</p>
                <p class = "DescriptionNaim" >Статус</p>
                <p class = "Description" asp-for="status">@i.status</p>
                @if(i.status == "Выполнено")
                {
                    var datetime = (i.DateTimeEnd - i.DatetimeStart) + i.DatetimePause;
                    string datetimeNotMillisecond = datetime.ToString(@"dd\.hh\:mm\:ss");
                    <p class = "Description">Всего затрачено времени:@datetimeNotMillisecond</p>
                }
                <div class = "TasksBlock">
                    <form  asp-action="Play" asp-controller="home" method="post"  asp-route-id="@i.Id">
                    <input class="image" type="image"  src="/Image/play.png" alt="play">
                    </form>

                    <form  asp-action="Delete" asp-controller="home" method="post"  asp-route-id="@i.Id">
                    <input class="image" type="image" src="/Image/delete.png" alt="delete">
                    </form>

                    <form  asp-action="Pause" asp-controller="home" method="post"  asp-route-id="@i.Id">
                    <input class="image" type="image" src="/Image/pause.png" alt="pause">
                    </form>

                    <form  asp-action="Done" asp-controller="home" method="post"  asp-route-id="@i.Id">
                    <input class="image" type="image" src="/Image/stop.png" alt="stop">
                    </form>
                </div>
            </div>
        }
    </div>
</div>
